// highlight.js
@import '~highlight.js/styles/github.css';

// material
@import '~@angular/material/theming';

@import './app/shared/example-viewer/example-viewer-theme';
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);
@include example-viewer-theme($theme);

@import '~x-material/theme/theme';
@include x-mat-theme($theme);

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.active-link {
  color: #3f51b5 !important;
}

legend {
  margin-bottom: 20px;
  font-size: 21px;
  border-bottom: 1px solid #e5e5e5;
}

@import './markdown.css';
